# Ignore datasets
data/
eurosat_data/
processed/
dow/
models/
results_coders/
results_transfer/
results_spectral/
# Ignore model weights
*.pth

# Ignore big files
*.tif

# Python virtual environment folders
venv/
.env/
